html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(135deg, #282828, #15696F, #63BDB5, #858585, #EEF2F0, #858585, #63BDB5, #15696F, #282828); */
  background-color: #EEF2F0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Home_container {
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: 10px;
}

.TopColor {
  background-color: #15696F;
  padding: 1px 20px;
  gap: 20px;
  flex: 1;
  min-width: 0;
}

.TopColor ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

.TopColor li {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.TopColor input {
  width: 400px;
  max-width: 500px;
  padding: 3px 10px;
  margin: -1px 90px;
  font-size: 1rem;
  border-color: transparent;
  border-radius: 9px;
}

.TopColor a {
  text-decoration: none;
  color: #EEF2F0;
}

.MedioColor {
  background-color: #858585;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slider {
  width: 80%;
  max-width: 1500px;
}

.slick-slide img {
  width: 160px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}


#carrinho {
  text-decoration: none;
  color: #282828;
  white-space: nowrap;
  margin-top: 10px;
}

.itens li {
  list-style: none;
  display: flex;
  white-space: nowrap;
}

.itens ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding: 80px;
  margin: 0 auto;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
}

.nav-link:hover {
  color: #858585;
  transform: scale(1.05);
}
.nav-link {
  font-size: medium;
}

.ImagemLogo {
  width: 100px;
  height: auto;
}

.carroimg {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 1px;
}

.selecionado {
  width: 500px;
  height: 400px;
}

.link-item a {
  display: flex;
}

.link-item:hover {
  transform: scale(1.05);
}

#valorcolor {
  color: #ffffff;
  background-color: #282828;
  padding: 8px 10px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  margin-top: 5px;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.link-item {
  text-decoration: none;
}

.nomeDoItem {
  font-size: 20px;
}

.produto-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
}

.nomeDoItem {
  font-size: 20px;
  font-weight: bold;
}

.modeloDoItem {
  font-size: 18px;
}

.info-down {
  text-align: left;
}

.info-left {
  display: flex;
}

.info-left button {
  width: 190%;
  max-width: 300px;
  padding: 15px;
  font-size: 1rem;
  background-color: #63BDB5;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
}

.info-left button:hover {
  background-color: #15696F;
}

.cor {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid #000;
  vertical-align: middle;
}

.container-inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 18px;
}

.container-inputs input {
  width: 190%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
}

.situacao-radios {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.estilo-radios {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.descricao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.descricao button {
  width: 190%;
  max-width: 200px;
  padding: 15px;
  font-size: 1rem;
  background-color: #63BDB5;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
}

.Home_container button:hover {
  background-color: #15696F;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}