.Login_container{
    display: flex;
    flex-direction: row;
    background-color: #EEF2F0;
    height: 100vh;
}
.LeftColor{
    background-color: #63BDB5;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textFields{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22%;
    box-sizing: border-box;
}
.textFields input {
    width: 190%;
    max-width: 600px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
}
.textFields button {
    width: 80%;
    max-width: 300px;
    padding: 15px;
    font-size: 1rem;
    background-color: #63BDB5;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.textFields button:hover {
  background-color: #15696F;
}
.LoginText {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LoginText h1 {
    color: #15696F;
}
.ImagemLogo{
    width: 850px;
    height: auto;
}


